/* Specific Module Academics */

.Module__fullWidthCalendar {
    @extend .condensed_heading;
    text-align: center;
}
.Module__fullWidthMajorMinor div strong {
	text-transform: uppercase;
	font-family: $sans-serif-condensed;
	font-weight: $fontWeightMedium;
	letter-spacing: .1em;
	font-size: 1.5em;
}
.Module__fullWidthFaculty {
	.Module__desc {
		strong {
			text-transform: uppercase;
			font-family: $sans-serif-condensed;
			font-weight: $fontWeightMedium;
			letter-spacing: .1em;
			font-size: 1.5em;
		}
	}
}
.Module__fullWidthFaculty,
.Module__fullWidthCatalogue,
.Module__fullWidthResearch {
	.Module__desc ul {
		margin-top: .5em;
		text-align: center;
		li {
			display: inline-block;
		}
		li:after {
			content: "|";
			margin-left: .5em;
		}
		li:last-child:after {
			content: "";
		}
	}
}
@media screen {
	.Module__fullWidthMajorMinor div strong {
		display: block;
	}
	.Module__fullWidthResearch {
		.Module__desc {
			padding-bottom: 50%;
		}
	}
	.Module__fullWidthFaculty {
		.Module__desc {
			width: 100%;
			margin: 0;
			strong {
				display: block;
			}
		}
	}
	.Module__fullWidthCalendar {
		.Module__desc {
			padding: 23% 20% 30%;
		}
	}
	.Module__fullWidthCatalogue {
		.Module__desc {
			padding: 0 10%;
		}
	}
	.Module__fullWidthFacilitiesResources {
        .Module__desc ul {
			margin-top: 2em;
        }
    }
}
@media all and (min-width: $small) {
	.Module__fullWidthFaculty {
		.Module__list {
			margin: 18% auto;
		}
	}
}
@media all and (min-width: $medium) {
	.Module__fullWidthFacilitiesResources {
        .Module__desc ul {
            column-count: 3;
            text-align: left;
			li a {
				line-height: 1.5;
			}
        }
    }
}
.Module__fullWidthMajorMinor img {
	border: 1px solid tint($fontColor, 20%);
}
.u-lHeader {
    background: #666 url(../../../assets/images/academics-header-bg.jpg) no-repeat center;
	background-size: cover;
}
.Module__fullWidthResearch {
    background: #666 url(../../../assets/images/academics-research-0042_12_07_MEZ_-5.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
}
.Module__fullWidthMajorMinor {
@extend .vassar_argyle;
}
.Module__fullWidthFacilitiesResources {
	@extend .vassar_plaid;
}
.Module__fullWidthFaculty {
    background: #666 url(../../../assets/images/academics-faculty.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
}
.Module__fullWidthCalendar {
    background: #666 url(../../../assets/images/academics-calendar-grid.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	.Module__desc ul {
		@extend .red_round_bg;
	}
}
.Module__fullWidthCatalogue {
	/* background-color: tint($fontColor,5%);
	background-image: linear-gradient(transparent 50%, rgba(135,36,67,.02) 50%);
	background-size: 30px 30px; */
}