.Faculty,
.Research {
	min-height: 56rem;
	padding: 4%;
    .Row {
      margin-top: auto;
    }
}
.Calendar{
	background-image:url(../images/academics-calendar-grid.jpg);
	text-align:center;
	ul {
      font-size: 85%;
      padding-left: 0;
	}
	li {
      margin-bottom:.25em;
      list-style:none
	}
}
.FacilitiesResources{
	background-color:#ebe9e8;
}
.Faculty {
	background-image:url(../images/academics-faculty.jpg);
	background-position-y: top;
	background-size: contain;
}
.Research {
	background-image:url(../images/academics-research-0042_12_07_MEZ_-4.jpg);
	min-height: 90rem;
}
.u-folderIntensives .u-pageTitle{
	background:transparent url(../images/intensives-mark.png) no-repeat left 33%;
	background-size:.83em;
	padding-left:.9em
}
.u-lHeader{
	background-image:url(../images/academics-header-bg.jpg);
	background-position-y: bottom;
}
@media screen and (min-width: 56.25em){
    .Faculty {
        min-height: inherit;
        background-size: cover;
        .Row {
          margin:12% auto;
        }
    }
    .Research{
        min-height: 65rem;
    }
}