
@import "_mixins";
@import "_config";

.condensed_heading {
	text-transform: uppercase;
	font-family: $sans-serif-condensed;
	font-weight: $fontWeightMedium;
	letter-spacing: .1em;
	font-size: 1em;
}

.vassar_argyle {
	background-color: #fff;
	background-image:
	repeating-linear-gradient(120deg, rgba(135, 36, 67,.08), rgba(135, 36, 67,.08) 2px, transparent 2px, transparent 120px),
	repeating-linear-gradient(60deg, rgba(135, 36, 67,.08), rgba(135, 36, 67,.08) 2px, transparent 2px, transparent 120px),
	linear-gradient(60deg, rgba(66,58,57,.04) 25%, transparent 25%, transparent 75%, rgba(66,58,57,.04) 75%, rgba(66,58,57,.04)),
	linear-gradient(120deg, rgba(66,58,57,.04) 25%, transparent 25%, transparent 75%, rgba(66,58,57,.04) 75%, rgba(66,58,57,.04));
	background-size: 140px 240px;
}

.vassar_plaid {
	background-size: cover;
	background: #ebe9e8 url(../images/about-mission-bg.png) repeat;
}

.red_round_bg {
	display: inline-block;
	background-color: rgba(135,36,67,.7);
	border-radius: 11em;
	padding: 24% 20%;
}

/* Specific Module Academics */

.Module__fullWidthCalendar {
    @extend .condensed_heading;
    text-align: center;
}
.Module__fullWidthMajorMinor p strong {
	text-transform: uppercase;
	font-family: $sans-serif-condensed;
	font-weight: $fontWeightMedium;
	letter-spacing: .1em;
	font-size: 1.5em;
}
.Module__fullWidthFaculty {
	.Module__desc {
		strong {
			text-transform: uppercase;
			font-family: $sans-serif-condensed;
			font-weight: $fontWeightMedium;
			letter-spacing: .1em;
			font-size: 1.5em;
		}
	}
}
.Module__fullWidthFaculty,
.Module__fullWidthCatalogue,
.Module__fullWidthResearch {
	.Module__desc ul {
		margin-top: .5em;
		text-align: center;
		li {
			display: inline-block;
		}
		li:after {
			content: "|";
			margin-left: .5em;
		}
		li:last-child:after {
			content: "";
		}
	}
}
@media screen {
	.Module__fullWidthMajorMinor p strong {
		display: block;
	}
	.Module__fullWidthResearch {
		.Module__desc {
			padding-top: 50%;
		}
	}
	.Module__fullWidthFaculty {
		.Module__desc {
			width: 100%;
			margin: 0;
			strong {
				display: block;
			}
		}
	}
	.Module__fullWidthCalendar {
		.Module__desc {
			padding: 23% 20% 30%;
		}
	}
	.Module__fullWidthCatalogue {
		.Module__desc {
			padding: 0 10%;
		}
	}
	.Module__fullWidthFacilitiesResources {
        .Module__desc ul {
			margin-top: 2em;
        }
    }
}
@media all and (min-width: $small) {
	.Module__fullWidthFaculty {
		.Module__list {
			margin: 18% auto;
		}
	}
}
@media all and (min-width: $medium) {
	.Module__fullWidthFacilitiesResources {
        .Module__desc ul {
            column-count: 3;
            text-align: left;
			li a {
				line-height: 1.5;
			}
        }
    }
}
.Module__fullWidthMajorMinor img {
	border: 1px solid tint($fontColor, 20%);
}
.u-lHeader {
    background: #666 url(../images/academics-header-bg.jpg) no-repeat center;
	background-size: cover;
}
.Module__fullWidthResearch {
    background: #666 url(../images/academics-research.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
}
.Module__fullWidthMajorMinor {
@extend .vassar_argyle;
}
.Module__fullWidthFacilitiesResources {
	@extend .vassar_plaid;
}
.Module__fullWidthFaculty {
    background: #666 url(../images/academics-faculty.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
}
.Module__fullWidthCalendar {
    background: #666 url(../images/academics-calendar-grid.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	.Module__desc ul {
		@extend .red_round_bg;
	}
}
/* temporary */
.u-lFooter {
    background: #882344 url(../images/global-footer-bg.jpg) no-repeat center;
    background-size: cover;
}
.u-VCard--site {
    background-color: rgba(0,0,0,0.75);
    padding: 1%;
    margin: 4% auto;
	max-width: 25em;
}
.u-ExtendedFooter__listContainer {
    background-color: rgba(0,0,0,0.75);
}